.container.py-5
  .row.justify-content-center
    .col-md-6
      %h3.mb-0= t("users.deletions.title").html_safe
      %p.my-4= t("users.deletions.description").html_safe
      %hr.my-4.horizontal-line

      %div{style: 'width: 80%'}
        = simple_form_for @user, url: users_deletions_path, method: :post do |f|
          .form-group
            = f.label :uuid do
              = t("users.deletions.user_uuid").html_safe
              %abbr{ title: "required" } *
              %a.ml-2{ href: "#uuidHelpModal", data: { toggle: "modal" }, role: "button", aria: { label: "Help" }, class: "text-muted" }
                %span.badge.badge-outline-primary{data: {toggle: "tooltip", placement: "top", title: t('shared.need_help')}} ?
            = f.input :uuid, label: false, input_html: { class: "form-control", placeholder: t("users.deletions.uuid_placeholder") }, required: true

          .form-group
            = label_tag 'user[delete_reason_id]' do
              = t("users.deletions.reason")
              %abbr{ title: "required" } *
            = select_tag 'user[delete_reason_id]', options_for_select(@delete_reasons.map { |r| ["#{r.name_km} / #{r.name_en}", r.id] }, params.dig(:user, :delete_reason_id)), include_blank: t("users.deletions.select_reason"), class: "form-control", required: true

          - unless Rails.env.development?
            .form-group
              = recaptcha_tags

          .form-group
            = f.submit t("users.deletions.submit"), class: "btn btn-danger btn-block"

      %p.mt-3.text-muted.small
        = t("users.deletions.note", removing_interval: User::REMOVING_INTERVAL).html_safe

      = render 'modal_help'
